<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <nav>
        <ul     class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="templates/catalogo.html">Catalogo</a></li>
            <li><a href="templates/contacto.html">Contacto</a></li>
            <li><a href="templates/redes sociales.html">Redes Sociales</a></li>
        </ul>
    </nav>

    <main>
        <h1>Catálogo</h1>

        

        <div class="catalogo">
            <div class="image-box">
                <img src="https://i.pinimg.com/736x/56/a8/c0/56a8c0d9a6f8b905196d86679abc0dde.jpg" alt="tatuaje 1">
            </div>

            <div class="image-box">
                <img src="https://i.pinimg.com/736x/ee/dc/21/eedc210ea2af740e9c0ca7a81dc2f255.jpg" alt="tatuaje 2">
            </div>

            <div class="image-box">
                <img src="https://i.pinimg.com/736x/26/19/13/261913765c08c1fee1c103126ba944e2.jpg" alt="tatuaje 3">
            </div>
        </div>
    </main>

</body>
</html>