<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="/templates/catalogo.html">Catalogo</a></li>
            <li><a href="/templates/contacto.html">Contacto</a></li>
            <li><a href="/templates/redes sociales.html">Redes Sociales</a></li>
        </ul>
    </nav>


    <main>
        <img src="https://i.pinimg.com/736x/4a/bc/44/4abc441f1e65624e4b23d07fe0877da0.jpg" alt="Contacto">
        <h1>Contacto</h1>

        <p><strong>Teléfono:</strong> +57 300 123 4567</p>
        <p><strong>Correo:</strong> contacto@tupagina.com</p>
    </main>

</body>
</html>